<h1>My Recipes</h1>

<% @recipes.each do |recipe| %>
    <div class="card" style="width: 18rem;">
        <%= image_tag("aeropress.jpg", class: "card-img-top") %>
        <div class="card-body">
            <p class="card-text">
                <%= recipe.equipment.name %>
                <%= recipe.sample.origin %>
            </p>
        </div>
    </div>
<% end %>
