<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
  <div class="banner">
    <h2>Develop your own coffee extraction recipes with BetterCup</h2>
    <p class="lead">
      Manage your coffee recipes and improve your skills. 
    </p>
  </div>
  
<% end %>

