<% if current_user %>
  <div class="main">
    <h3>Welcome Back</h3>
    <iframe id="ytplayer" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com" frameborder="0"></iframe>
  </div>
<% else %>
  <div class="banner">
    <h2>Develop your own coffee extraction recipes with BetterCup</h2>
    <p class="lead">
      Manage your coffee recipes and improve your skills. 
    </p>
  </div>
  
<% end %>

