.banner {
    text-align: left;
    background-image: asset-url('espresso.jpg');
    background-size: cover;
    color: #fff;
    font-family: 'Helvetica Neue' !important;
    font-stretch: expanded;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    height: 80%;
 }

#navbar {
  margin-bottom: 0;
}
.navbar-nav li a {
  padding: 6px;
}

footer {
  text-align: right;
  padding-right: 8px;
}

#user_remember_me.form-check-input {
  padding-right: 4px;
}